* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto Slab", serif;
}

@media (max-width: 480px) {
  .header {
    padding: 16px;
  }

  .about {
    margin: 10px;
    padding: 16px;
  }

  body {
    overflow-x: hidden;
  }
}
@media (min-width: 1440px){
  .main{
    width:65%;
    margin: auto;
  }
}